.cube
{
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 800px;
}

.cube *
{
    transform-style: preserve-3d;
}

.cube .pivot-y
{
    animation-name: cube-rotation-y;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cube-rotation-y
{
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.cube .pivot-x
{
    animation-name: cube-rotation-x;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes cube-rotation-x
{
    0%   { transform: rotateX(-35deg); }
    50%  { transform: rotateX(35deg); }
    100% { transform: rotateX(-35deg); }
}

.shadow
{
    position: absolute;
    top: -400px;
    left: -400px;
    width: 800px;
    height: 800px;
    /* background-image: url(./shadow.png); */
    transform: rotateX(-90deg) translateZ(400px);
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    opacity: 0.6;
}

.cube .face
{
    display: flex;
    position: absolute;
    top: -200px;
    left: -200px;
    width: 400px;
    height: 400px;
    background-size: cover;
    image-rendering: pixelated;
    font-size: 60px;
    font-family: Helvetica, Arial;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.cube .face.x-pos { transform: rotateY(90deg)  translateZ(200px); }
.cube .face.x-neg { transform: rotateY(-90deg) translateZ(200px); }
.cube .face.y-pos { transform: rotateX(-90deg) translateZ(200px); }
.cube .face.y-neg { transform: rotateX(90deg)  translateZ(200px); }
.cube .face.z-neg { transform: rotateY(180deg) translateZ(200px); }
.cube .face.z-pos { transform:                 translateZ(200px); }

.cube.crafting-table .face.x-pos { background-image: url('./textures/crafting_table_side.png'); }
.cube.crafting-table .face.x-neg { background-image: url('./textures/crafting_table_side.png'); }
.cube.crafting-table .face.y-pos { background-image: url('./textures/oak_planks.png'); }
.cube.crafting-table .face.y-neg { background-image: url('./textures/crafting_table_top.png'); }
.cube.crafting-table .face.z-pos { background-image: url('./textures/crafting_table_side.png'); }
.cube.crafting-table .face.z-neg { background-image: url('./textures/crafting_table_side.png'); }

.cube.redstone-lamp .face.x-pos { background-image: url('./textures/redstone_lamp.png'); }
.cube.redstone-lamp .face.x-neg { background-image: url('./textures/redstone_lamp.png'); }
.cube.redstone-lamp .face.y-pos { background-image: url('./textures/redstone_lamp.png'); }
.cube.redstone-lamp .face.y-neg { background-image: url('./textures/redstone_lamp.png'); }
.cube.redstone-lamp .face.z-pos { background-image: url('./textures/redstone_lamp.png'); }
.cube.redstone-lamp .face.z-neg { background-image: url('./textures/redstone_lamp.png'); }

.cube.redstone-lamp:hover .face.x-pos { background-image: url('./textures/redstone_lamp_on.png'); }
.cube.redstone-lamp:hover .face.x-neg { background-image: url('./textures/redstone_lamp_on.png'); }
.cube.redstone-lamp:hover .face.y-pos { background-image: url('./textures/redstone_lamp_on.png'); }
.cube.redstone-lamp:hover .face.y-neg { background-image: url('./textures/redstone_lamp_on.png'); }
.cube.redstone-lamp:hover .face.z-pos { background-image: url('./textures/redstone_lamp_on.png'); }
.cube.redstone-lamp:hover .face.z-neg { background-image: url('./textures/redstone_lamp_on.png'); }

.cube.blast-furnace .face.x-pos { background-image: url('./textures/blast_furnace_side.png'); }
.cube.blast-furnace .face.x-neg { background-image: url('./textures/blast_furnace_side.png'); }
.cube.blast-furnace .face.y-pos { background-image: url('./textures/blast_furnace_top.png'); }
.cube.blast-furnace .face.y-neg { background-image: url('./textures/blast_furnace_top.png'); }
.cube.blast-furnace .face.z-pos { background-image: url('./textures/blast_furnace_front.png'); }
.cube.blast-furnace .face.z-neg { background-image: url('./textures/blast_furnace_side.png'); }

.cube.tnt .face.x-pos { background-image: url('./textures/tnt_side.png'); }
.cube.tnt .face.x-neg { background-image: url('./textures/tnt_side.png'); }
.cube.tnt .face.y-pos { background-image: url('./textures/tnt_bottom.png'); }
.cube.tnt .face.y-neg { background-image: url('./textures/tnt_top.png'); }
.cube.tnt .face.z-pos { background-image: url('./textures/tnt_side.png'); }
.cube.tnt .face.z-neg { background-image: url('./textures/tnt_side.png'); }