.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    margin-bottom: 20px;
    background: #cccccc;
    perspective: 800px;
}

.container *
{
    transform-style: preserve-3d;
}

.element
{
    width: 200px;
    height: 200px;
    background: orange;
}

.element-1
{
    transform: scaleY(0.5);
}

.element-2
{
    transform: translate(200px, 50px);
}

.element-3
{
    transform: rotate(70deg);
}

.element-4
{
    transform: skewY(45deg);
}

.element-5
{
    transform: rotate(70deg);
    transform-origin: 100% 100%;
}

.element-6
{
    transform: translateX(200px) rotate(70deg);
}

.element-7
{
    transform: rotateY(145deg);
}

.element-8
{
    transform: translateZ(300px);
}






.element-9
{
    transform: rotateY(70deg);
}

.element-10
{
    position: relative;
    transform: rotateX(45deg);
}

.element-10 .inner
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: #ff0000;
    transform: translateZ(100px);
}

