#page {
    background-color:fcd315;
    border:1px solid black;
    text-align:left;
    width:60%;
    padding:30px;
    height:450px;
}

h1 {
    font-size:30px;
    font-family:Arial, sans serif;
}

img.pendu {
    float:right;
}

h2 {
    font-size:16px;
    font-family:Arial, sans-serif;
}

#mot {
    margin:30px 0 0 0;
    clear:both;
    top:100px;
}

#mot td {
    padding:10px;
    background-color:#1ee193;
    border:2px inset black;
    width:30px;
    height:30px;
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
}

 #mot p{
    visibility:hidden;
}

#clavier{
    border:4px outset black;
    padding:10px;
    background-color:#2b80d5;
}

#clavier td {
    background-color:white;
    border:1px solid black;
    width:25px;
    height:25px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
}

a.lien{
    color:blue;
    text-decoration:none;
    font-size:20px;
}

a.lien:hover{
    color:red;
    font-weight:bold;
    text-decoration:underline;
}