body
{
    background: #222222;
}

.player
{
    position: absolute;
    top: 0;
    left: 0;
    width: 148px;
    height: 125px;
    background: url(./player.png);
    transition: top 0.1s linear, left 0.1s linear;
}