.game
{
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    width: 400px;
    height: 400px;
    background: #cccccc;
}

.game .projectile
{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: blue;
}